doctype html

html
  head
    meta(charset='utf-8')
    title First Pick Baseball
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/style.css')
    meta(name="viewport" content="width=device-width, user-scalable=no")

  body
    div(id='bodyBorder')
    div(id='bar')

    div(id='headerLogo')
      
    p(id='descriptionText') The premier professional & college baseball recruiting platform
    
    div(id='button')
    
    div(id='bar1')
    div(id='bar2')

    script(type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='js/main.js')
